--extra-index-url https://download.pytorch.org/whl/cpu
uvicorn
python-multipart
python-dotenv
firebase-admin
cloudinary
twilio
numpy
opencv-python-headless
ultralytics
pydantic
pydantic-settings
fastapi
uvicorn
python-multipart
twilio
